<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.backend.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.yu.backend.model.entity.Picture">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="spaceId" column="spaceId" jdbcType="BIGINT"/>
        <result property="urls" column="urls" jdbcType="JAVA_OBJECT"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="picSize" column="picSize" jdbcType="BIGINT"/>
        <result property="picWidth" column="picWidth" jdbcType="INTEGER"/>
        <result property="picHeight" column="picHeight" jdbcType="INTEGER"/>
        <result property="picScale" column="picScale" jdbcType="DOUBLE"/>
        <result property="picFormat" column="picFormat" jdbcType="VARCHAR"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="editTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
        <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewerId" jdbcType="BIGINT"/>
        <result property="reviewTime" column="reviewTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spaceId,urls,
        name,introduction,category,
        tags,picSize,picWidth,
        picHeight,picScale,picFormat,
        userId,createTime,editTime,
        updateTime,isDelete,reviewStatus,
        reviewMessage,reviewerId,reviewTime
    </sql>

    <select id="getCategoryStatistics" resultType="map">
        SELECT category AS category,
               COUNT(*) AS count,
               IFNULL(SUM(picSize), 0) AS totalSize
        FROM picture
        WHERE isDelete = 0
        <if test="params.queryAll != null and params.queryAll">
        </if>
        <if test="params.queryPublic != null and params.queryPublic">
            AND spaceId = 0
        </if>
        <if test="params.spaceId != null and params.spaceId > 0">
            AND spaceId = #{params.spaceId}
        </if>
        GROUP BY category
    </select>

    <select id="analyzeByTimeDimension" resultType="map">
        SELECT
        <choose>
            <when test="params.timeDimension == 'day'">
                DATE_FORMAT(createTime, '%Y-%m-%d') AS period,
            </when>
            <when test="params.timeDimension == 'week'">
                YEARWEEK(createTime) AS period,
            </when>
            <when test="params.timeDimension == 'month'">
                DATE_FORMAT(createTime, '%Y-%m') AS period,
            </when>
            <otherwise>
                DATE_FORMAT(createTime, '%Y-%m-%d') AS period,
            </otherwise>
        </choose>
        COUNT(*) AS count
        FROM picture
        WHERE isDelete = 0
        <if test="params.queryPublic != null and params.queryPublic">
            AND spaceId = 0
        </if>
        <if test="params.spaceId != null and params.spaceId > 0">
            AND spaceId = #{params.spaceId}
        </if>
        <if test="params.userId != null and params.userId > 0">
            AND userId = #{params.userId}
        </if>
        GROUP BY period
        ORDER BY period
    </select>
</mapper>
